$primary-color: rgba(81, 60, 58, 1);
$secondary-color: #583f28;
$selected-color: #7c5c3f;
$gradation-color: #8a6a4c;
$url-path: "https://d2qkxc1ity7pm2.cloudfront.net/";

.header-button {
    font-family: "LINESeedKR-Bd";
}

.menu-button {
    font-family: "GangwonEdu_OTFBoldA";
    font-size: x-large;
    min-width: 40%;
    margin-top: 5%;
    border: 3px solid $primary-color;
    padding: 2%;
    border-radius: 10px;

    &:hover {
        transition-duration: 0.5s;
        background-color: $selected-color;
        color: white;
    }

    p {
        margin-top: 5%;
    }
}

.wave-button {
    display: inline-block;
    width: 150px;
    height: 60px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(black, 0.2);
    background: transparent;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    text-align: center;

    .wave {
        opacity: 1;
        position: absolute;
        bottom: 3%;
        left: 50%;
        background: rgb(45, 171, 255);
        width: 300px;
        height: 300px;
        margin-left: -150px;
        margin-bottom: -301px;
        transform-origin: 48% 52%;
        border-radius: 43%;
        vertical-align: middle;

        transition-duration: 1.5s;
        transition-property: margin-bottom;
        transition-timing-function: ease;
        z-index: 2;
    }

    &:hover .wave {
        margin-bottom: -240px;
        animation: rotate 2000ms infinite linear;
    }

    p {
        top: 1vh;
        position: relative;
        z-index: 3;
        transition: 1s ease-out;
        font-size: larger;
    }

    &:hover p {
        color: black;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.header-font {
    font-family: "LINESeedKR-Bd";
}
.text-font {
    font-family: "GangwonEdu_OTFBoldA";
    p {
        margin-top: 3%;
    }
}
.title-font {
    font-family: "AnneliesRoughBrush";
}

@font-face {
    font-family: "AnneliesRoughBrush";
    src: url("@/assets/fonts/AnneliesRoughBrush.ttf");
}

// 텍스트 폰트
@font-face {
    font-family: "GangwonEdu_OTFBoldA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

// 헤더 폰트
@font-face {
    font-family: "LINESeedKR-Bd"; // Bd, Rd, Th
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}
