$primary-color: #513c3a;
$secondary-color: #583f28;
$selected-color: #7c5c3f;

.flex-center {
    display: flex;
    justify-content: center;
}

button {
    font-family: "Ahnjunggeun";
    font-weight: bold;
    font-size: larger;
}

.menu-button {
    min-width: 40%;
    margin-top: 5%;
    border: 3px solid $primary-color;
    padding: 2%;
    border-radius: 10px;

    &:hover {
        transition-duration: 0.5s;
        background-color: $selected-color;
        color: white;
    }
}

.title-font {
    font-family: "caveat";
}
.text-font {
    font-family: "Ahnjunggeun";
}

/*한글 폰트*/
@font-face {
    font-family: "Ahnjunggeun";
    src: url("@/assets/fonts/Ahnjunggeun.ttf");
}
/*영어 폰트*/
@font-face {
    font-family: "caveat";
    src: url("@/assets/fonts/Caveat.ttf");
}
